/*
###################################
	Button
###################################
*/
	/*
	=================================
		Btn
	=================================
	*/	
		.btn{
			display: inline-block;
			cursor: pointer;
			text-align: center;
		}
	/*
	=================================
		//Btn
	=================================
	*/

/*
////////////////////////////////////
	//Button
////////////////////////////////////
*/