/*
////////////////////////////////
	Demo
////////////////////////////////
*/
	//Sidebar
	.demo-sidebar{
		padding-left: 20px;

		.demo-sidebar-nav{
			li{
				display: block;
				a{
					display: block;
					text-decoration: none;
					padding: 5px 20px;
					border-left: 1px solid transparent;
					color: #545454;

					&:hover, &:focus{
						border-left: 1px solid #da042c;
					}
					&.active{
						font-weight: bold;
						border-left: 2px solid #da042c;
					}
				}

				ul{
					margin: 0;
				}
				
			}
		}
	}
/*
////////////////////////////////
	//Demo
////////////////////////////////
*/