/*
///////////////////////////////
	Layout
//////////////////////////////
*/
	/*
	=====================
		Header
	=====================
	*/
		.layout-header{
			padding: 20px 0;
			margin-bottom: 20px;
			border-bottom: 1px solid #ccc;

			//headline
			.layout-header-hl{
				margin: 0;
				margin-bottom: 15px;
			}

			//sub-head
			.layout-header-sub{
				margin: 0;
				margin-bottom: 15px;

				font-size: 20px;

				color: #A9A9A9;
			}
		}
	/*
	=====================
		Header
	=====================
	*/
/*
///////////////////////////////
	//Layout
//////////////////////////////
*/