/*
	###################
		   HEADER
	###################
*/
	.header{
		.header-info{
			padding: 8px 0;
			background-color: #a82528;
			.aling{
				&.col-lg-11{
					width: 84.63%!important;
				}

				margin: 5px 0 0 0;
			}
			.header-info--end{
				i{
					font-size: 16px;
					margin: 0 7px 0 0;
					float: left;
					color: #fff;
				}
				p{
				 	float: left;
					color: #fff;
					margin: 0;
					font-size: 14px;
				}
			}
			.header-info--phone{
				p{
				 	float: left;
					color: #fff;
					margin: 0;
					font-size: 14px;
				}
				i{
					font-size: 16px;
					margin: 0 7px 0 0;
					float: left;
					color: #fff;
				}
			}
			.header-info--email{
				&.col-lg-4{
					width: 41.32%!important;
				}
				p{
				 	float: left;
					color: #fff;
					margin: 0;
					font-size: 14px;
				}
				i{
					font-size: 16px;
					margin: 0 7px 0 0;
					float: left;
					color: #fff;
				}
			}
			.header-info--social{
				a{
					i{
						font-size: 25px;
						float: left;
						color: #fff;
					}
				}
			}
		}
		.header-list{
			padding: 10px 0 8px 0;
			background-color: #fff;
			&.header-scroll{
				top: 0;
				-webkit-box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.75);
				box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.75);
				background-color: rgba(255, 255, 255, 0.9);
				background: rgba(255, 255, 255, 0.9);
				color: rgba(255, 255, 255, 0.9);
				position: fixed;
				width: 100%;
				padding: 13px 0 10px;
				transition: 1s;
				z-index: 12;
				position: fixed;
				.header-list--logo{
					a{
						img{
							transition: 0.5s;
							width: 105px;
							height: auto;
						}
					}
				}
				.header-list--menu{
					nav{
						ul{
							li{
								a{
									font-size: 16px;
								}
							}
						}
					}
					.list{
						&.col-lg-8{
							width: 71.64%!important;
						}
						margin: 17px 0 0 0; 
					}
					.option{
						&.col-lg-3{
						 	width: 20.99%!important;
						}
						margin: 3px 0 0 0;
						a{
							font-size: 16px;
						}
					}
				}
			}
			.header-list--logo{
				a{
					img{
						width: 126px;
						height: auto;
					}
					&:hover, &:focus{
						outline: none;
					}
				}
			}
			.header-list--menu{
				nav{
					ul{
						margin: 0;
						padding: 0;
						li{
							display: inline;
							list-style-type: none;
							a{
								position: relative;
								color: #5f5f61;
								padding: 0 15px;
								font-size: 18px;
								text-decoration: none;
								&:hover, &:focus{
									outline: none;
									&::after{
										width: 60%;
									}
								}
								&.active{
									font-weight: bold;
									&::after{
										width: 60%;
									}
								}
								&::after{
									margin: 4px 0 0 0;
									content: "";
									position: absolute;
									width: 0;
									height: 2px;
									background-color: #a82528;
									top: 18px;
									left: 0;
									right: 0;
									margin-left: auto;
									margin-right: auto;
									transition: 0.25s;
								}
							}
						}
					}
				}
				.list{
					&.col-lg-8{
						width: 71.64%!important;
					}
					margin: 22px 0 0 0; 
				}
				.option{
					&.col-lg-3{
					 	width: 23.75%!important;;
					}
					margin: 7px 0 0 0;
					a{
						color: #fff;
						padding: 14px 12px 12px;
						display: inline-block;
						background-color: #a82528;
						&:hover, &:focus{
							outline: none;
							background-color: #b73629;
							&::after{
								width: 0;
							}
						}
					}
				}
			}
		}
	}


/*
	###################
		 //HEADER
	###################
*/



/*
	###################
		 BANNER
	###################
*/
	.banner{
		position: relative;
		.banner-container{
		    background-repeat: no-repeat;
		    background-size: cover;
		    height: 685px;
		    .banner-content{
		    	padding: 330px 0 0 0;
		    	.banner-content--title{
		    		h1{
		    			text-transform: uppercase;
		    			margin: 0;
		    			font-weight: 300;
		    			font-size: 26px;
		    			color: #fff;
		    			span{
		    				display: block;
		    				font-weight: 600;
		    				font-size: 50px;
		    			}
		    		}
		    	}
		    	.banner-content--text{
		    		margin: 0 0 20px 0;
		    		p{
		    			margin: 0;
		    			font-size: 24px;
		    			color: #fff;
		    			font-weight: 300;
		    		}
		    	}
		    	.banner-content--link{
		    		a{
		    			display: inline-block;
		    			padding: 13px 23px 12px;
		    			color: #fff;
		    			text-decoration: none;
		    			text-transform: uppercase;
		    			background-color: #a82528;
		    			transition: 0.25s;
		    			&:hover, &:focus{
							outline: none;
							background-color: #b73629;
						}
		    		}
		    	}
		    }
		}
		.banner-search{
			bottom: -118px;
			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			.banner-search--container{
				background-color: #fff;
				padding: 18px 25px 17px;
				border-radius: 4px;
				border-bottom: 4px solid #ccc;
				.search{
					.search-title{
						h1{
							font-size: 16px;
							margin: 0;
							color: #cc504d;
						}
					}
					.search-content{
						margin: 7px 0 9px 0;
						p{
							font-size: 14px;
							margin: 0;
							color: #999999;
						}
					}
					.search-form{
						form{
							.form-field{
								input{
									width: 100%;
									padding: 10px 0 9px 13px;
									border: 1px solid #ccc;
									border-radius: 3px;
								}
								button{
									padding: 12px 20px 9px;
								    background-color: #a82528;
									border: 0;
									border-bottom: 4px solid #b34644;
									color: #fff;
									border-radius: 3px;
									&:hover{
										background-color: #b73629;
										cursor: pointer;
									}
								}
							}
						}
					}
					&:nth-child(odd){
						padding: 0 10px 0 0;
					}
					&:nth-child(even){
						padding: 0 0 0 10px;
					}
				}
			}
		}
	}





/*
	###################
		 BANNER
	###################
*/


/*
	###################
		 EDIÇÃO
	###################
*/
	.edicao{
		margin: 210px 0 0 0;
		.edicao-block{
		    max-width: 37%;
    		position: relative;
    		&::before{
			    content: "";
			    width: 100%;
			    position: relative;
			    height: 2px;
			    background-color: #a82528;
			    display: inline-block;
			    margin-bottom: 45px;
    		}
			.edicao-block--title{
			    background-color: #fff;
			    max-width: 55%;
			    top: -13px;
			    position: absolute;
			    margin-left: auto;
			    margin-right: auto;
			    left: 0;
			    right: 0;
			    h1{
			    	font-size: 20px;
			    	margin: 0;
			    	color: #5f5f61;
			    }
			}
		}
		.edicao-posts{
			padding: 0 0 45px 0;
			position: relative;
			button{
			    position: absolute;
			    background-color: transparent;
			    border: 0;
			}
			#prev-edicao{
				right: 98%;
				top: calc(35%);
				i{
					font-size: 65px;
					color: #535353;
					&:hover{
						color: #a82528;
						cursor: pointer;
					}
				}
			}
			#next-edicao{
				left: 98%;
				top: calc(35%);
				i{
					font-size: 65px;
					color: #535353;
					&:hover{
						color: #a82528;
						cursor: pointer;
					}
				}
			}
			border-bottom: 1px solid #ccc;
			.edicao-posts--container{
				border: 1px solid #ccc;
				.post-img{
					width: 374px;
					height: 465px;
					overflow: hidden;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}
				.posts-link{
					margin: 17px 0;
					a{
						transition: 0.25s;
						text-transform: uppercase;
						display: inline-block;
						text-decoration: none;
						color: #fff;
						font-size: 14px;
						padding: 14px 20px 10px;
						border-radius: 3px;
						background-color: #535353;
						border-bottom: 4px solid #434343;
						&:hover, &:focus{
							outline: none;
							background-color: #a82528;
							border-bottom: 4px solid #b34644;
						}
						&:first-child{
							padding: 0;
							background-color: transparent;
						}
					}
				}
			}
			.edicao-posts--link{
				margin: 45px 0 0 0;
				a{
					transition: 0.25s;
					font-size: 16px;
					display: inline-block;
					text-decoration: none;
					padding: 12px 27px;
					color: #fff;
					background-color: #a82528;
					&:hover, &:focus{
						background-color: #b73629;
						outline: none;
					}
				}
			}
		}
	}

/*
	###################
		 //EDIÇÃO
	###################
*/


/*
	###################
	   PROFISSIONAIS
	###################
*/
	.profissional{
		margin: 46px 0 70px 0;
		.profissional-block{
		    max-width: 37%;
    		position: relative;
    		&::before{
			    content: "";
			    width: 100%;
			    position: relative;
			    height: 2px;
			    background-color: #a82528;
			    display: inline-block;
			    margin-bottom: 45px;
    		}
			.profissional-block--title{
			    background-color: #fff;
			    max-width: 50%;
			    top: -13px;
			    position: absolute;
			    margin-left: auto;
			    margin-right: auto;
			    left: 0;
			    right: 0;
			    h1{
			    	text-transform: uppercase;
			    	font-size: 20px;
			    	margin: 0;
			    	color: #5f5f61;
			    }
			}
		}
		.profissional-posts{
			position: relative;
			button{
			    position: absolute;
			    background-color: transparent;
			    border: 0;
			}
			#prev-profissional{
				right: 97%;
				top: calc(35%);
				i{
					font-size: 65px;
					color: #535353;
					&:hover{
						color: #a82528;
						cursor: pointer;
					}
				}
			}
			#next-profissional{
				left: 97%;
				top: calc(35%);
				i{
					font-size: 65px;
					color: #535353;
					&:hover{
						color: #a82528;
						cursor: pointer;
					}
				}
			}
			.profissional-posts--container{
				border: 1px solid #ccc;
				.posts-img{
					position: relative;
					width: 100%;
					height: 460px;
					overflow: hidden;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
					.posts-content{
						position: absolute;
						bottom: 0;
						width: 100%;
						background-color: #a82528;
						.content-nome{
							h2{
								text-transform: uppercase;
								margin: 8px 0 10px 0;
								font-size: 16px;
								color: #fff;
							}
						}
						.content-esp{
							p{
								text-transform: uppercase;
								margin: 0 0 11px 0;
								font-size: 12px;
								color: #fff;
							}
						}
					}
				}
				.posts-link{
					margin: 17px 0;
					a{
						transition: 0.25s;
						text-transform: uppercase;
						display: inline-block;
						text-decoration: none;
						color: #fff;
						font-size: 14px;
						padding: 14px 20px 10px;
						border-radius: 3px;
						background-color: #535353;
						border-bottom: 4px solid #434343;
						&:hover, &:focus{
							outline: none;
							background-color: #a82528;
							border-bottom: 4px solid #b34644;
						}
					}
				}
			}
			.profissional-posts--link{
				margin: 45px 0 0 0;
				a{
					transition: 0.25s;
					font-size: 16px;
					display: inline-block;
					text-decoration: none;
					padding: 12px 46px;
					color: #fff;
					background-color: #a82528;
					&:hover, &:focus{
						background-color: #b73629;
						outline: none;
					}
				}
			}
		}
	}
	/*
		#######################
		  PROFISSIONAL SINGLE
		#######################
	*/
		.single-profissional{
			margin: 105px 0 200px 0; 
			.single-profissional--container{
				&.page{
					margin: 0 0 30px 0;
				}
				.profissional-img{
					width: 280px;
					height: 270px;
					overflow: hidden;
					img{
						border-radius: 13px;
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}
				.profissional-nome{
					margin: 0 0 15px 0;
					h1{
						font-size: 24px;
						color: #5a5a5c;
						margin: 0;
						text-transform: uppercase;
					}
				}
				.profissional-esp{
					margin: 0 0 15px 0;
					p{
						font-size: 16px;
						color: #5a5a5c;
						margin: 0;
						text-transform: uppercase;
					}
				}
				.profissional-crm{
					margin: 0 0 15px 0;
					p{
						font-size: 16px;
						color: #5a5a5c;
						margin: 0;
						text-transform: uppercase;
					}
				}
				.profissional-cidade--crm{
					margin: 0 0 15px 0;
					p{
						font-size: 16px;
						color: #5a5a5c;
						margin: 0;
						text-transform: uppercase;
					}
				}
				.profissional-cidade{
					margin: 0 0 15px 0;
					p{
						font-size: 16px;
						color: #5a5a5c;
						margin: 0;
						text-transform: uppercase;
					}
				}
				.profissional-end{
					margin: 0 0 15px 0;
					p{
						font-size: 16px;
						color: #5a5a5c;
						margin: 0;
						text-transform: uppercase;
					}
				}
				.profissional-phone{
					p{
						font-size: 16px;
						color: #5a5a5c;
						margin: 0;
						text-transform: uppercase;
					}
				}
			}
			.voltar{
				a{
					text-decoration: none;
					font-size: 20px;
					color: #5a5a5c;
					&:hover, &:focus{
						text-decoration: underline;	
						outline: none;
						color: #a82528;
					}
				}
			}
	}

	/*
		#######################
		 //PROFISSIONAL SINGLE
		#######################
	*/


/*
	###################
	  //PROFISSIONAIS
	###################
*/


/*
	###################
	  	 MATERIAS
	###################
*/

	.pagenation-style{
		.wp-pagenavi{
			.navigation{
				h2{
					display: none;
				}
				.nav-links{
					span{
						padding: 3px 8px;
						background-color: #a82528;
						color: #fff;
						border: 1px solid #333;
						border-radius: 3px;
					}
					a{
						text-decoration: none;
						padding: 3px 8px;
						color: #333;
						border: 1px solid #333;
						border-radius: 3px;
						&:last-child{
							display: none;
						}
						&:hover{
							transition: 0.2s;
							background-color: #a82528;
							color: #fff;
						}
					}
				}
			}
		}
	}
	.materias{
		&.page{
			margin: 0 0 120px 0;
			background-color: #fff;
		}
		.materias-title{
			margin: 35px 0 25px;
			h1{
			    margin: 0;
			    text-transform: uppercase;
			    font-size: 24px;
			    color: #5a5a5c;
			}
		}
		padding: 0 0 80px 0;
		background-color: #eeeeee;
		.materias-align{
			margin: 50px 0 0 0;
		}
		.materias-block{
			max-width: 24%;
    		position: relative;
    		&::before{
			    content: "";
			    width: 100%;
			    position: relative;
			    height: 2px;
			    background-color: #a82528;
			    display: inline-block;
			    margin-bottom: 45px;
    		}
			.materias-block--title{
				background-color: #eeeeee;
			    max-width: 45%;
			    top: -13px;
			    position: absolute;
			    margin-left: auto;
			    margin-right: auto;
			    left: 0;
			    right: 0;
			    h1{
			    	text-transform: uppercase;
			    	font-size: 20px;
			    	margin: 0;
			    	color: #5f5f61;
			    }
			}
		}
		.materias-container{
			.materias-search{
				margin: 35px 0 25px 0;
				h1{
					font-size: 24px;
					color: #5a5a5c;
					margin: 0 0 11px 0;
					text-transform: uppercase;
				}
				h2{
					font-size: 18px;
					color: #5a5a5c;
					margin: 0;
					text-transform: uppercase;
				}
			}
			.materias-page{
				margin: 0 0 25px 0;
				.page-title{
					h1{
						text-transform: uppercase;
						font-size: 24px;
						color: #5a5a5c;
						margin: 5px 0 0 0;
					}
				}
			}
			.materias-posts{
				&.page{
					margin: 0 0 45px 0;
				}
				.posts-img{
					width: 100%;
					height: 300px;
					overflow: hidden;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}
				.posts-title{
					margin: 14px 0;
					h1{
						text-transform: uppercase;
						font-size: 16px;
						margin: 0;
						color: #5f5f61;
					}
				}
				.posts-content{
					margin: 0 0 30px 0;
					p{
						margin: 0;
						font-size: 13px;
						color: #5f5f61;
						line-height: 20px;
					}
				}
				.posts-link{
					a{
						transition: 0.25s;
						text-decoration: none;
						padding: 10px 24px 8px;
						background-color: #5f5f61;
						border-radius: 3px;
						display: inline-block;
						border-bottom: 4px solid #434343;
						color: #fff;
						&:hover, &:focus{
							outline: none;
							background-color: #a82528;
							border-bottom: 4px solid #b34644;
						}
					}
				}
			}
			.voltar{
				a{
					text-decoration: none;
					font-size: 20px;
					color: #5a5a5c;
					&:hover, &:focus{
						text-decoration: underline;	
						outline: none;
						color: #a82528;
					}
				}
			}
		}
	}
	/*
		#####################
		  	MATERIA SINGLE
		#####################
	*/
		.materia-bkg--pages{
			margin: 120px 0 35px 0;
			.voltar{
				a{
					text-decoration: none;
					font-size: 20px;
					color: #5a5a5c;
					&:hover, &:focus{
						text-decoration: underline;	
						outline: none;
						color: #a82528;
					}
				}
			}
			.materia-title{
				h1{
					font-size: 24px;
					color: #5a5a5c;
					margin: 0;
				}
			}
			.materias{
				background-color: #fff;
				.materias-align{
					margin: 18px 0 0 0;
					.materias-block{
						display: none;
						.materias-block--title{
							background-color: #fff;
						}
					}
				}
			}
		}
		.materia-single{
			.materia-single--container{
				.single-title{
					margin: 35px 0 45px 0;
					h1{	
						text-transform: uppercase;
						font-size: 24px; 
						color: #5a5a5c;
						margin: 0;
					}
				}
				.single-img{
					width: 100%;
					height: 460px;
					overflow: hidden;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}
				.single-content{
					margin: 35px 0 0 0;
					p{
						line-height: 20px;
						font-size: 18px;
						color: #5f5f61;
						margin: 0;
					}
				}
			}
		}


	/*
		#####################
		  //MATERIA SINGLE
		#####################
	*/
/*
	###################
	  	//MATERIAIS
	###################
*/



/*
	###################
	  	   SEJA
	###################
*/
	.seja{
		margin: 70px 0 60px 0;
		&.pages{
			background-color: #f6f6f6;
			margin: 0;
			padding: 50px 0 57px 0;
			.seja-block{
				.seja-title{
					background-color: #f6f6f6;
				}
			}
		}
		.seja-block{
			max-width: 37%;
    		position: relative;
    		&::before{
			    content: "";
			    width: 100%;
			    position: relative;
			    height: 2px;
			    background-color: #a82528;
			    display: inline-block;
			    margin-bottom: 20px;
    		}
			.seja-title{
				background-color: #fff;
			    max-width: 60%;
			    top: -13px;
			    position: absolute;
			    margin-left: auto;
			    margin-right: auto;
			    left: 0;
			    right: 0;
			    h1{
			    	text-transform: uppercase;
			    	font-size: 20px;
			    	margin: 0;
			    	color: #5f5f61;
			    }
			}
		}
		.seja-content{
			p{
				font-size: 14px;
				line-height: 20px;
				color: #666666;
			}
		}
		.seja-form{
			form{
				.form-field{
					input{
						border-radius: 3px;
						border: 1px solid #ccc;
						padding: 12px 0 10px 17px;
					}
					textarea{
						width: 100%;
						height: 90px;
						padding: 14px 0 0 17px;
						border-radius: 3px;
						border: 1px solid #ccc;

					}
					button{
						color: #fff;
						padding: 10px 26px 8px;
						border-radius: 3px;
						border: 0;
						background-color: #a82528;
						border-bottom: 4px solid #b34644;
						&:hover{
							cursor: pointer;
						}
					}
				}
			}
			.mensagem-block{
				margin: 20px 0 0 0;
				#EnvioError{
					display: none;
				}
				#EnvioOk{
					display: none;
				}
				.mensagem{
					p{
					 	margin: 0;
					 	font-size: 15px;
					 	color: #a82528;
					}
				}
			}
		}
	}
	
/*
	###################
	  	 //SEJA
	###################
*/

/*
	###################
	  	 EVENTOS 
	###################
*/
	.eventos{
		margin: 0 0 120px 0;
		.eventos-block{
			margin: 35px 0 25px 0;
			.eventos-container{
				.eventos-title{
					h1{
						margin: 0;
				        text-transform: uppercase;
					    font-size: 24px;
					    color: #5a5a5c;
					}
				}
			}
		}

		.eventos-align{
			.voltar{
				a{
					text-decoration: none;
					font-size: 20px;
					color: #5a5a5c;
					&:hover, &:focus{
						text-decoration: underline;	
						outline: none;
						color: #a82528;
					}
				}
			}
			.evento-posts{
				margin: 0 0 45px;
				.posts-img{
					width: 100%;
					height: 300px;
					overflow: hidden;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}
			}
			.posts-title{
				margin: 14px 0;
				h1{
					text-transform: uppercase;
					font-size: 16px;
					margin: 0;
					color: #5f5f61;
				}
			}
			.posts-content{
				margin: 0 0 30px 0;
				p{
					margin: 0;
					font-size: 13px;
					color: #5f5f61;
					line-height: 20px;
				}
			}
			.posts-link{
				a{
					transition: 0.25s;
					text-decoration: none;
					padding: 10px 24px 8px;
					background-color: #5f5f61;
					border-radius: 3px;
					display: inline-block;
					border-bottom: 4px solid #434343;
					color: #fff;
					&:hover, &:focus{
						outline: none;
						background-color: #a82528;
						border-bottom: 4px solid #b34644;
					}
				}
			}
		}
	}

/*
	###################
	  	//EVENTOS 
	###################
*/


/*
	###################
	  SINGLE EVENTOS 
	###################
*/
	.single-eventos{
		margin: 0 0 80px 0;
		.single-eventos--container{
			.single-title{
				margin: 40px 0 45px 0;
				h1{
					margin: 0;
			        text-transform: uppercase;
				    font-size: 24px;
				    color: #5a5a5c;
				}
			}
		}
		.single-bkg{
			margin: 0 0 35px 0;
			width: 100%;
			height: 455px;
			overflow: hidden;
			img{
				min-width: 100%;
				min-height: 100%;
				max-width: 150%;
			}
		}
		.single-content {
			margin: 0 0 30px 0;
			p{
				line-height: 20px;
				color: #5f5f61;
				font-size: 18px;
				margin: 0;
			}
		}
		.carousel-eventos{
			position: relative;
			.carousel-img{
				width: 100%;
				height: 184px;
				overflow: hidden;
				img{
					min-width: 100%;
					min-height: 100%;
					max-width: 150%;
				}
				&:hover{
					cursor: pointer;
				}
				&.container{
					padding: 0px 8px;
				}
			}
			.owl-controls{
				.owl-nav{
					.owl-next{
						background-color: transparent;
						position: absolute;
						left: 99%;
						top: calc(26%);
						i{
							font-size: 65px;
							color: #535353;
							&:hover{
								color: #a82528;
								cursor: pointer;
							}
						}
					}
					.owl-prev{
						background-color: transparent;
						position: absolute;
						right: 99%;
						top: calc(26%);
						i{
							font-size: 65px;
							color: #535353;
							&:hover{
								color: #a82528;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
	
/*
	###################
	 //SINGLE EVENTOS 
	###################
*/


/*
	###################
	   INSTITUCIONAL
	###################
*/
	.institucional{
		margin: 25px 0 120px 0;
		.institucional-title{
			h1{
				text-transform: uppercase;
				font-size: 24px;
				color: #5f5f61;
			}
		}
		.institucional-content{
			p{
				margin: 0 0 16px 0;
				font-size: 18px;
				color: #5f5f61;
				line-height: 20px;
			}
		}
	}


/*
	###################
	   INSTITUCIONAL
	###################
*/

/*
	###################
	  	 CONTATO 
	###################
*/

	.contato{
		padding: 120px 0;
		.contato-block{
			max-width: 20%;
    		position: relative;
    		&::before{
			    content: "";
			    width: 100%;
			    position: relative;
			    height: 2px;
			    background-color: #a82528;
			    display: inline-block;
			    margin-bottom: 20px;
    		}
			.contato-title{
				background-color: #fff;
			    max-width: 55%;
			    top: -13px;
			    position: absolute;
			    margin-left: auto;
			    margin-right: auto;
			    left: 0;
			    right: 0;
			    h1{
			    	text-transform: uppercase;
			    	font-size: 20px;
			    	margin: 0;
			    	color: #5f5f61;
			    }
			}
		}
		.seja{
			&.pages{
				padding: 0;
				background-color: #fff;
				.seja-block{
					display: none;
				} 
			}
		}
	}
/*
	###################
	  	//CONTATO 
	###################
*/


/*
	###################
	  	 FOOTER
	###################
*/
	.footer{
		.footer-first{
			padding: 70px 0;
			background-color: #898989;
			.footer-about{
				.footer-about--title{
					margin: 0 0 13px 0;
					h1{
						font-size: 16px;
						margin: 0;
						text-transform: uppercase;
						color: #fff;
					}
					&::after{
					    margin: 2px 0 0;
					    content: "";
					    width: 50px;
					    height: 2px;
					    background-color: #fff;
					    display: block;
					}
				}
				.footer-about--content{
					p{
						color: #fff;
						margin: 0;
						font-size: 15px;
						line-height: 20px;
					}
				}
			}
			.footer-contact{
				.footer-contact--title{
					margin: 0 0 13px 0;
					h1{
						font-size: 16px;
						margin: 0;
						text-transform: uppercase;
						color: #fff;
					}
					&::after{
					    margin: 2px 0 0;
					    content: "";
					    width: 50px;
					    height: 2px;
					    background-color: #fff;
					    display: block;
					}
				}
				.footer-contact--city{
					margin: 16px 0 0 0;
					p{
						font-size: 15px;
						margin: 0;
						color: #fff;
					}
				}
				.footer-contact--phone{
					margin: 9px 0 0 0;
					i{
						color: #fff;
						margin: 0 10px 0 0;
						float: left;
					}
					p{
						float: left;
						margin: 0;
						font-size: 15px;
						color: #fff;
					}
				}
				.footer-contact--mail{
					margin: 9px 0 0 0;
					i{
						color: #fff;
						margin: 0 10px 0 0;
						float: left;
					}
					p{
						float: left;
						font-size: 15px;
						margin: 0;
						color: #fff;
					}
				}
				.footer-social{
					margin: 20px 0 0 0;
					.footer-social--title{
						h1{
							font-size: 16px;
							margin: 0;
							text-transform: uppercase;
							color: #fff;
						}
						&::after{
						    margin: 2px 0 0;
						    content: "";
						    width: 50px;
						    height: 2px;
						    background-color: #fff;
						    display: block;
						}
					}
					.footer-social--icon{
						margin: 16px 0 0 0;
						i{
							font-size: 32px;
							color: #fff;
						}
					}
				}
			}
			.footer-menu{
				.footer-menu--title{
					margin: 0 0 13px 0;
					h1{
						font-size: 16px;
						margin: 0;
						text-transform: uppercase;
						color: #fff;
					}
					&::after{
					    margin: 2px 0 0;
					    content: "";
					    width: 50px;
					    height: 2px;
					    background-color: #fff;
					    display: block;
					}
				}
				.footer-menu--list{
					ul{
						margin: 0;
						padding: 0;
						li{
							list-style-type: none;
							color: #fff;
							margin: 0 0 10px 0;
							a{
								text-decoration: none;
								color: #fff;
								&:focus, &:hover{
									outline: none;
								}
							}
						}
					}
				}
			}

		}
		.footer-secound{
			padding: 25px 0 15px 0;
			background-color: #8c0b10;
			p{
				text-transform: uppercase;
				margin: 0;
				color: #fff;
				font-size: 11px;
			}
		}
	}


/*
	###################
	  	//FOOTER
	###################
*/


/*
	#############
	  	MODAL
	#############
*/
	.modal-container{
		background-color: #fff;
		padding: 8px !important;
		.modal-action{
			z-index: 6;
		}
		&.open{
			.modal-block{
				display: block !important;
			}
		}
		.modal-block{
			.modal-img{
				position: relative;
				overflow: hidden;
				img{
					max-height: 50vh;
					max-width: 90vh;
				}
				.modal-content{
					background-color: #d1672f;
					position: absolute;
					bottom: 0;
					height: auto;
					padding: 25px 0 25px 0;
					.modal-text{
						p{
							margin: 0;
							font-size: 18px;
							color: #fff;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}


/*
	#############
	  //MODAL
	#############
*/


/*
	###################
	   PAGE EDIÇÃO 
	###################
*/
	.page-edicao{
		margin: 35px 0 120px 0;
		.edicao-title{
			margin: 0 0 25px 0;
			h1{
			    margin: 0;
			    text-transform: uppercase;
			    font-size: 24px;
			    color: #5a5a5c;
			}
		}
		.edicao-posts{
			margin: 0 0 40px 0;
			.edicao-row{
				.align{
					margin: 0 0 25px 0;
				}
				.edicao-posts--container{
					border: 1px solid #ccc;
					.post-img{
						width: 100%;
						height: 456px;
						overflow: hidden;
						img{
							min-width: 100%;
							min-height: 100%;
							max-width: 150%;
						}
					}
				}
				.voltar{
					a{
						text-decoration: none;
						font-size: 20px;
						color: #5a5a5c;
						&:hover, &:focus{
							text-decoration: underline;	
							outline: none;
							color: #a82528;
						}
					}
				}
			}
		}
	}



/*
	###################
	   //PAGE EDIÇÃO 
	###################
*/




/*
	###################
	   SINGLE EDICAO
	###################
*/
	
	.single-edicao{
		height: 600px;
		.single-edicao--title{
			.single-edicao--carousel{

			}
		}
	}




/*
	###################
	  //SINGLE EDICAO
	###################
*/



/*
	#############
	   	BOOK
	#############
*/
	.booklet{
		margin: 0 auto;
		height: auto;
		.b-page{
			height: 365px !important;
			.b-wrap{
				padding: 0 !important;
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}



/*
	#############
	   //BOOK
	#############
*/


/*
	#####################
	   MENU RESPONSIVE
	#####################
*/
	.header-mobile{
		z-index: 10;
		padding: 13px 0 7px 0;
		background-color: #fff;
		float: left;
		border-bottom: 4px solid #58585a;
		&.header-mobile--scroll{
			position: fixed;
		}
		.logo{
			a{
				img{
					width: 98px;
					height: 45px;
				}
				&:hover, &:focus{
					outline: none;
				}
			}
		}
	}
		
		.nav-menu ul{
			padding: 0px;
			margin: 15px 0;
		}

		.nav-menu ul li{
			font-size: 16px;

		}

		.nav-menu li a{
			padding: 7px 20px;
			display: block;
			color: #fff;
			text-decoration: none;
		}
		.nav-menu li a:hover{
			text-decoration: none;
			transition: 0.2s;

		}

		nav-menu li a:visited{
			text-decoration: none;
		}
		.nav-menu li{
			list-style-type: none;
			text-decoration: none;
		}

	/*SideBar*/
	.menu{
		z-index: 99999;
	}

	.icon-menu{
		width: 30px;
		position: relative;
		float: right;
		margin: 17px 10px;
	}
	.icon-menu .bar{
		width: 100%;
		height: 5px;
		float: left;
		border-radius: 5px;
		margin-bottom: 3px;
		background-color: #b34644;
		transition: 0.2s linear;
	}
	.sidebar{
		top: 0;
		height: 100%;
		position: fixed;
		left: -100%;
		transition: 0.6s;
		background-color: #a82528;
		z-index: 99999;
		-webkit-box-shadow: -2px 2px 10px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: -2px 2px 10px -1px rgba(0,0,0,0.75);
		box-shadow: -2px 2px 10px -1px rgba(0,0,0,0.75);
	}
	.icon-close{
		i{
			color: #fff;
			font-size: 22px;
			&:focus, &:hover{
				font-size: 23px;
			}
		}
		padding: 10px 20px 0 0;
	}

/*
	#####################
	   MENU RESPONSIVE
	#####################
*/


/*
	#############
	   BOOK
	#############
*/

.b-page {
    border: 1px solid #ccc;
}
.b-wrap {
	overflow-y: auto;
}
.b-page.b-grab {
	border: none;
}


/*
	#############
	   //BOOK
	#############
*/