/*
	###############################
		TYPOGRAPH
	###############################
*/
	@family: 'Open Sans', 'sans-serif';
	@work-light: 'work_sanslight';
	@work-regular: 'work_sansregular';
	@work-medium: 'work_sansmedium';
	





	/*
	===============================
		Default
	===============================
	*/
		body{
			font-family: @work-light;
		}
	/*
	===============================
		//Default
	===============================
	*/

	/*
	===============================
			 CLASS
	===============================
	*/
		.work-sans-regular{
			font-family: @work-regular;
		}
		.work-sans-medium{
			font-family: @work-medium;
		}


	/*
	===============================
			//CLASS
	===============================
	*/

/*
	###############################
		//TYPOGRAPH
	###############################
*/