/*
######################################
	RESPONSIVE SM
######################################
*/

	//NEXUS 7
	@media only screen and(min-width: 600px) and (max-width: 960px) and (orientation: portrait){
		/*
			#####################
			   MENU RESPONSIVE
			#####################
		*/
			.header-mobile{
				.menu{
					&.col-xs-2{
						width: 8.33%;
					}
				}
			}
		/*
			#####################
			  //MENU RESPONSIVE
			#####################
		*/
	}

	@media only screen and(min-width: 600px) and (max-width: 960px) and (orientation: landscape){

	}	

	//Tablet Portrait (Modo retrado)
	@media only screen and(min-width: 768px) and (max-width: 1024px) and (orientation: portrait){	
		/*
			###################
				 EDIÇÃO
			###################
		*/
			.edicao{
				.edicao-block{
				    max-width: 48%;
					.edicao-block--title{
					    max-width: 55%;
					}
				}
				.edicao-posts{
					#prev-edicao{
						right: 97%;
					}
					#next-edicao{
						left: 97%;
					}
					border-bottom: 1px solid #ccc;
					.edicao-posts--container{
						.post-img{
							width: 100%;
							height: 465px;
						}
					}
				}
			}

		/*
			###################
				 //EDIÇÃO
			###################
		*/
		/*
			###################
			   PROFISSIONAIS
			###################
		*/
			.profissional{
				.profissional-block{
				    max-width: 52%;
				}
			}
		/*
			###################
			   PROFISSIONAIS
			###################
		*/

		/*
			###################
			  	 MATERIAS
			###################
		*/

			.materias{
				&.page{
					margin: 0 0 120px 0;
					background-color: #fff;
					.align{
						.materias-title{
							&.container{
								padding: 0;
							}
							h1{
								font-size: 18px;
							}
						}
						.materias-container{
							.materias-posts{
								.posts-title{
									h1{
										font-size: 15px;
									}
								}
							}
						}
					}
				}
				.materias-title{
					margin: 35px 0 25px;
					h1{
					    margin: 0;
					    text-transform: uppercase;
					    font-size: 24px;
					    color: #5a5a5c;
					}
				}
				.materias-align{
					margin: 50px 0 0 0;
				}
				.materias-block{
					max-width: 42%;
				}
				.materias-container{
					.materias-posts{
						margin: 0 0 20px 0;
						&.col-xs-12{
							width: 49.98%;
						}
						&.container{
							padding: 0 15px;
						}
					}
				}
			}

		/*
			###################
			  	//MATERIAS
			###################
		*/

		/*
			###################
			  	   SEJA
			###################
		*/
			.seja{
				.seja-block{
					max-width: 65%;
				}

			}
		/*
			###################
			  	 //SEJA
			###################
		*/

		/*
			###################
			  	 FOOTER
			###################
		*/
			.footer{
				.footer-first{
					padding: 45px 0;
					background-color: #898989;
					.footer-about{
						padding: 0 25px 0 0;
						margin: 0 0 25px 0;
						&.col-xs-12{
							width: 49.98%;
						}
					}
					.footer-contact{
						&.col-xs-12{
							width: 33.32%;
						}
						.align{
							margin: 0 0 25px 0;
						}
						.footer-social{
							margin: 20px 0 0 0;
							&.right{
								float: initial;
							}
						}
					}

				}
			}


		/*
			###################
			  	//FOOTER
			###################
		*/
	}
	//Tablet Geral LANDSCAPE
	@media only screen and(min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
		/*
			###################
				 EDIÇÃO
			###################
		*/
			.edicao{
				.edicao-posts{
					.edicao-posts--container{
						.post-img{
							width: 100%;
							height: 465px;
						}
					}
				}
			}

		/*
			###################
				 //EDIÇÃO
			###################
		*/
		/*
			###################
			  	   SEJA
			###################
		*/
			.seja{
				.seja-block{
					max-width: 45%;
				}

			}
		/*
			###################
			  	 //SEJA
			###################
		*/
	}	

	@media only screen and(min-width: 1024px) and (max-width: 1366px) and (orientation: portrait){
		
	}