/*
######################################
	RESPONSIVE XS
######################################
*/

	
	//Mobile Portrait (Modo retrado)
	@media only screen and(min-width: 320px) and (max-width: 414px) and (orientation: portrait){
		/*
			###################
			  	 FOOTER
			###################
		*/
			.footer{
				.footer-first{
					padding: 45px 0;
					background-color: #898989;
					.footer-about{
						margin: 0 0 25px 0;
					}
					.footer-contact{
						.align{
							&.right{
								float: initial;
							}
							margin: 0 0 25px 0;
						}
						.footer-social{
							margin: 20px 0 0 0;
							&.right{
								float: initial;
							}
						}
					}

				}
			}


		/*
			###################
			  	//FOOTER
			###################
		*/
	}
	//Mobile Portrait (Modo Paisagem)
	@media only screen and(min-width: 490px) and (max-width: 736px) and (orientation: landscape){
		/*
			###################
				 EDIÇÃO
			###################
		*/
			.edicao{
				.edicao-block{
				    max-width: 65%;
				}
				.edicao-posts{
					#prev-edicao{
						right: 97%;
					}
					#next-edicao{
						left: 97%;
					}
					border-bottom: 1px solid #ccc;
					.edicao-posts--container{
						.post-img{
							width: 100%;
							height: 465px;
						}
					}
				}
			}

		/*
			###################
				 //EDIÇÃO
			###################
		*/
		/*
			###################
			   PROFISSIONAIS
			###################
		*/
			.profissional{
				.profissional-block{
				    max-width: 55%;
					.profissional-block--title{
					    max-width: 55%;
					}
				}
				.profissional-posts{
					&.container{
						padding: 0;
					}
					.align{
						&.container{
							padding: 0 15px;
						}
					}
					#prev-profissional{
						right: 96%;
					}
					#next-profissional{
						left: 96%;
					}
					.profissional-posts--container{
						.posts-img{
							width: 100%;
    						height: 311px;
						}
					}
				}
			}
		/*
			###################
			   PROFISSIONAIS
			###################
		*/
		/*
			###################
			  	 MATERIAS
			###################
		*/

			.materias{
				.materias-title{
					margin: 35px 0 25px;
					h1{
					    margin: 0;
					    text-transform: uppercase;
					    font-size: 24px;
					    color: #5a5a5c;
					}
				}
				.materias-align{
					margin: 50px 0 0 0;
				}
				.materias-block{
					max-width: 42%;
				}
				.materias-container{
					.materias-posts{
						margin: 0 0 20px 0;
						&.col-xs-12{
							width: 49.98%;
						}
						&.container{
							padding: 0 15px;
						}
					}
				}
			}

		/*
			###################
			  	//MATERIAS
			###################
		*/
		/*
			###################
			  	   SEJA
			###################
		*/
			.seja{
				.seja-block{
					max-width: 65%;
					.seja-title{
						max-width: 70%;
					}
				}

			}
		/*
			###################
			  	 //SEJA
			###################
		*/
		/*
			###################
			  	 FOOTER
			###################
		*/
			.footer{
				.footer-first{
					padding: 45px 0;
					background-color: #898989;
					.footer-about{
						padding: 0 25px 0 0;
						margin: 0 0 25px 0;
						&.col-xs-12{
							width: 49.98%;
						}
					}
					.footer-contact{
						&.col-xs-12{
							width: 33.32%;
						}
						.align{
							margin: 0 0 25px 0;
						}
						.footer-social{
							margin: 20px 0 0 0;
							&.right{
								float: initial;
							}
						}
					}

				}
			}
		/*
			###################
			  	//FOOTER
			###################
		*/
	}
	//IPHONE 4
	@media only screen and(min-width: 320px) and(max-width: 480px){	
	/*
		###################
			 BANNER
		###################
	*/
		.banner{
			.banner-container{
			    height: 223px;
			    .banner-content{
			    	padding: 95px 0 0 0;
			    	.banner-content--title{
			    		h1{
			    			font-size: 14px;
			    			span{
			    				display: block;
			    				font-weight: 600;
			    				font-size: 18px;
			    			}
			    		}
			    	}
			    	.banner-content--text{
			    		margin: 0 0 20px 0;
			    		p{
			    			font-size: 14px;
			    		}
			    	}
			    	.banner-content--link{
			    		a{
			    			padding: 11px 23px 9px;
			    			font-size: 12px;
			    		}
			    	}
			    }
		    }
		    .banner-search{
				bottom: -262px;
				&.container{
					padding: 0;
				}
				.banner-search--container{
					padding: 16px 11px;
					border-radius: 0;
					.search{
						.search-title{
							h1{
								font-size: 14px;
								margin: 0;
								color: #cc504d;
							}
						}
						.search-content{
							margin: 7px 0 9px 0;
							p{
								font-size: 12px;
								margin: 0;
								color: #999999;
							}
						}
						.search-form{
							form{
								.form-field{
									input{
										padding: 10px 0 8px 5px;
									}
									button{
										padding: 10px 17px 6px;
									}
								}
							}
						}
						&:nth-child(odd){
							margin: 0 0 20px 0;
							padding: 0;
						}
						&:nth-child(even){
							padding: 0;
						}
					}
				}
			}
	    }
	    /*
			###################
				//BANNER
			###################
		*/


	    /*
			###################
				  EDIÇÃO
			###################
		*/
			.edicao{
				margin: 315px 0 0 0;
				.edicao-block{
				    max-width: 90%;
					.edicao-block--title{
					    max-width: 74%;
					    top: -11px;
					    h1{
					    	font-size: 18px;
					    }
					}
				}
				.edicao-posts{
					border-bottom: 0;
					padding: 0 0 45px 0;
					.align{
						&.container{
							padding: 0 15px;
						}
					}
					#prev-edicao{
						right: 94%;
						top: calc(35%);
					}
					#next-edicao{
						left: 94%;
						top: calc(35%);
					}
					.edicao-posts--container{
						.post-img{
							width: 100%;
							height: 295px;
						}
						.posts-link{
							margin: 17px 0;
							a{
								background-color: #a82528;
								font-size: 13px;
								padding: 13px 15px 6px;
							}
						}
					}
					.edicao-posts--link{
						margin: 45px 0 0 0;
						a{
							padding: 12px 27px;
						}
					}
				}
			}

		/*
			###################
				 //EDIÇÃO
			###################
		*/

		/*
			###################
			   PROFISSIONAIS
			###################
		*/
			.profissional{
				margin: 14px 0 70px 0;
				.profissional-block{
				    max-width: 90%;
					.profissional-block--title{
					    max-width: 72%;
					    top: -10px;
					    h1{
					    	font-size: 18px;
					    }
					}
				}
				.profissional-posts{
					&.container{
						padding: 0;
					}
					.align{
						&.container{
							padding: 0 15px;
						}
					}
					#prev-profissional{
						right: 94%;
						top: calc(35%);
					}
					#next-profissional{
						left: 94%;
						top: calc(35%);
					}
					.profissional-posts--container{
						.posts-img{
							width: 100%;
    						height: auto;
							.posts-content{
								position: absolute;
								bottom: 0;
								width: 100%;
								background-color: #a82528;
								.content-nome{
									h2{
										text-transform: uppercase;
										margin: 8px 0 10px 0;
										font-size: 16px;
										color: #fff;
									}
								}
								.content-esp{
									p{
										text-transform: uppercase;
										margin: 0 0 11px 0;
										font-size: 12px;
										color: #fff;
									}
								}
							}
						}
						.posts-link{
							margin: 17px 0;
							a{
								background-color: #a82528;
								font-size: 13px;
    							padding: 13px 15px 6px;
							}
						}
					}
					.profissional-posts--link{
						margin: 45px 0 0 0;
						a{
							padding: 12px 27px;
						}
					}
				}
			}
		/*
			###################
			   PROFISSIONAIS
			###################
		*/

		/*
			###################
			  	 MATERIAS
			###################
		*/

			.materias{
				padding: 0;
				background-color: #eeeeee;
				&.page{
					margin: 0 0 120px 0;
					background-color: #fff;
					.align{
						.materias-title{
							&.container{
								padding: 0;
							}
							h1{
								font-size: 18px;
							}
						}
						.materias-container{
							.materias-posts{
								.posts-title{
									h1{
										font-size: 15px;
									}
								}
							}
						}
					}
				}
				.materias-title{
					margin: 35px 0 25px;
					h1{
					    margin: 0;
					    text-transform: uppercase;
					    font-size: 24px;
					    color: #5a5a5c;
					}
				}
				.materias-align{
					margin: 50px 0 0 0;
				}
				.materias-block{
					max-width: 85%;
					.materias-block--title{
					    max-width: 60%;
					    top: -12px;
					    h1{
					    	font-size: 18px;
					    }
					}
				}
				.materias-container{
					.materias-search{
						margin: 35px 0 25px 0;
						h1{
							font-size: 24px;
							color: #5a5a5c;
						}
						h2{
							font-size: 18px;
							color: #5a5a5c;
							margin: 0;
							text-transform: uppercase;
						}
					}
					.materias-page{
						margin: 0 0 25px 0;
						.page-title{
							h1{
								text-transform: uppercase;
								font-size: 24px;
								color: #5a5a5c;
								margin: 5px 0 0 0;
							}
						}
					}
					.materias-posts{
						&.container{
							padding: 0;
						}
						margin: 0 0 25px 0;
						&.page{
							margin: 0 0 45px 0;
						}
						.posts-img{
							width: 100%;
							height: 300px;
							overflow: hidden;
							img{
								min-width: 100%;
								min-height: 100%;
								max-width: 150%;
							}
						}
						.posts-title{
							margin: 14px 0;
							h1{
								text-transform: uppercase;
								font-size: 16px;
								margin: 0;
								color: #5f5f61;
							}
						}
						.posts-content{
							margin: 0 0 30px 0;
							p{
								margin: 0;
								font-size: 13px;
								color: #5f5f61;
								line-height: 20px;
							}
						}
						.posts-link{
							a{
								font-size: 13px;
    							padding: 13px 15px 6px;
								background-color: #a82528;
							}
						}
					}
					.voltar{
						a{
							text-decoration: none;
							font-size: 20px;
							color: #5a5a5c;
							&:hover, &:focus{
								text-decoration: underline;	
								outline: none;
								color: #a82528;
							}
						}
					}
				}
			}

		/*
			###################
			  	//MATERIAS
			###################
		*/

		/*
			###################
			  	   SEJA
			###################
		*/
			.seja{
				margin: 70px 0 60px 0;
				&.pages{
					background-color: #f6f6f6;
					margin: 0;
					padding: 50px 0 57px 0;
					.seja-block{
						.seja-title{
							background-color: #f6f6f6;
						}
					}
				}
				.seja-block{
					max-width: 90%;
		    		position: relative;
		    		&::before{
					    content: "";
					    width: 100%;
					    position: relative;
					    height: 2px;
					    background-color: #a82528;
					    display: inline-block;
					    margin-bottom: 20px;
		    		}
					.seja-title{
					    max-width: 90%;
					    top: -10px;
					    h1{
					    	font-size: 18px;
					    }
					}
				}

			}
		/*
			###################
			  	 //SEJA
			###################
		*/

		/*
			###################
			  	 FOOTER
			###################
		*/
			.footer{
				.footer-first{
					padding: 45px 0;
					background-color: #898989;
					.footer-about{
						margin: 0 0 25px 0;
					}
					.footer-contact{
						.align{
							margin: 0 0 25px 0;
						}
						.footer-social{
							margin: 20px 0 0 0;
							&.right{
								float: initial;
							}
						}
					}

				}
			}


		/*
			###################
			  	//FOOTER
			###################
		*/
		/*
			###################
			   PAGE EDIÇÃO 
			###################
		*/
			.page-edicao{
				margin: 20px 0 0 0;
				.container{
					padding: 0;
				}
				.edicao-title{
					padding: 0 15px;
					margin: 0 0 15px 0;
					h1{
					    font-size: 18px;
					}
				}
				.edicao-posts{
					margin: 0 0 40px 0;
					.edicao-row{
						.container{
							padding: 0 15px;
						}
						.edicao-posts--container{
							margin: 0 0 30px 0;
							border: 1px solid #ccc;
							.post-img{
								width: 100%;
								height: 456px;
							}
						}
					}
				}
			}



		/*
			###################
			   //PAGE EDIÇÃO 
			###################
		*/

		/*
			###################
			  	 EVENTOS 
			###################
		*/
			.eventos{
				margin: 0 0 120px 0;
				.align{
					&.container{
						padding: 0;
					}
				}
				.eventos-block{
					margin: 35px 0 25px 0;
					.eventos-container{
						.eventos-title{
							h1{
								margin: 0;
						        text-transform: uppercase;
							    font-size: 18px;
							    color: #5a5a5c;
							}
						}
					}
				}

				.eventos-align{
					.voltar{
						a{
							text-decoration: none;
							font-size: 20px;
							color: #5a5a5c;
							&:hover, &:focus{
								text-decoration: underline;	
								outline: none;
								color: #a82528;
							}
						}
					}
					.evento-posts{
						margin: 0 0 45px;
						.posts-img{
							width: 100%;
							height: 300px;
							overflow: hidden;
							img{
								min-width: 100%;
								min-height: 100%;
								max-width: 150%;
							}
						}
					}
					.posts-title{
						margin: 14px 0;
						h1{
							font-size: 13px;
						}
					}
					.posts-content{
						margin: 0 0 30px 0;
						p{
							font-size: 12px;
						}
					}
					.posts-link{
						a{
							padding: 11px 18px 7px;
							background-color: #a82528;
						}
					}
				}
			}

		/*
			###################
			  	//EVENTOS 
			###################
		*/

		/*
			###################
			  	 CONTATO 
			###################
		*/

			.contato{
				padding: 50px 0;
				.contato-block{
					max-width: 70%;
					.contato-title{
					    max-width: 58%;
					}
				}
			}
		/*
			###################
			  	//CONTATO 
			###################
		*/
		/*
			###################
			  SINGLE EVENTOS 
			###################
		*/
			.single-eventos{
				.single-bkg{
					height: auto;
				}
				.carousel-eventos{
					.carousel-img{
						height: 184px;
						&.container{
							padding: 0px 15px;
						}
					}
					#next-event{
						left: 95%;
					}
					#prev-event{
						right: 95%;
					}
				}
			}
			
		/*
			###################
			 //SINGLE EVENTOS 
			###################
		*/
		/*
			#####################
			   MATERIA SINGLE
			#####################
		*/
			.materia-single{
				.materia-single--container{
					.single-img{
						height: auto;
					}
				}
			}


		/*
			#####################
			  //MATERIA SINGLE
			#####################
		*/
	}	
	
	//IPHONE 4 LANDSCAPE
	@media only screen and(max-width: 480px) and (orientation : landscape){
		 /*
			###################
				  EDIÇÃO
			###################
		*/
			.edicao{
				.edicao-block{
				    max-width: 65%;
					.edicao-block--title{
					    max-width: 72%;
					}
				}
				.edicao-posts{
					.align{
						&.container{
							padding: 0 30px;
						}
					}
				}
			}


		/*
			###################
				 //EDIÇÃO
			###################
		*/
		/*
			###################
			   PROFISSIONAIS
			###################
		*/
			.profissional{
				.profissional-block{
				    max-width: 70%;
					.profissional-block--title{
					    max-width: 60%;
					}
				}
				.profissional-posts{
					.align{
						&.container{
							padding: 0 30px;
						}
					}
				}
			}

		/*
			###################
			  //PROFISSIONAIS
			###################
		*/

		/*
			###################
			  	 FOOTER
			###################
		*/
			.footer{
				.footer-first{
					.footer-contact{
						.align{
							&.right{
								float: initial;
							}
						}
						.footer-social{
							margin: 20px 0 0 0;
							&.right{
								float: initial;
							}
						}
					}

				}
			}


		/*
			###################
			  	//FOOTER
			###################
		*/
	}
	

