/*
/*
######################################
	RESPONSIVE MD
######################################
*/
	//Notebook Geral
	@media only screen and(min-width: 1024px) and (max-width: 1440px){
		
	}
	//Notebook 16'
	@media only screen and(min-width: 1280px) and (max-width: 1440px){
		/*
			###################
				 BANNER
			###################
		*/
		.banner{
			.banner-container{
			    height: 500px;
			    .banner-content{
			    	padding: 175px 0 0 0;
			    }
		    }
		    .banner-search{
				bottom: -118px;
			}
		}


		/*
			###################
				 EDIÇÃO
			###################
		*/
			.edicao{
				margin: 185px 0 0 0;
			}
		/*
			###################
				//EDIÇÃO
			###################
		*/
	}
	//Notebook 14'
	@media only screen and(min-width: 1024px) and (max-width: 1280px){
	}

	//Notebook Apple'
	@media only screen and(min-width: 800px) and (max-width: 1280px){
		
	}
/*
######################################
	//RESPONSIVE MD
######################################
*/